Package: gyeeta-alertaction
Version: 0.2.0
Architecture: amd64
Maintainer: Gyeeta (https://github.com/gyeeta/alertaction)
Depends: adduser, libc6 (>= 2.27), zlib1g (>= 1:1.2.11), liblzma5 (>= 5.2.2)
Section: utils
Priority: optional
Homepage: https://gyeeta.io
Description: alertaction - Gyeeta's Alert Action Agent
  Gyeeta is an Observability product monitoring Services, Processes and Hosts. alertaction is the Alert Action Agent of Gyeeta. 

