Package: gyeeta-madhava
Version: 0.3.1
Architecture: amd64
Maintainer: Gyeeta (https://github.com/gyeeta/gyeeta)
Depends: adduser, libc6 (>= 2.27), zlib1g (>= 1:1.2.11), liblzma5 (>= 5.2.2)
Section: utils
Priority: optional
Homepage: https://gyeeta.io
Description: Madhava - Gyeeta's Intermediate Server
  Gyeeta is an Observability product monitoring Services, Processes and Hosts. Madhava is an Intermediate Server Component of Gyeeta. 

