
[Unit]
Description=Madhava - Intermediate Server for Gyeeta
Documentation=https://gyeeta.io/docs/
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=gyeeta
Group=gyeeta
WorkingDirectory=/opt/gyeeta/madhava
ExecStart=/opt/gyeeta/madhava/madhava
ExitType=cgroup
RestartSec=20s
Restart=always
PrivateTmp=true
NoNewPrivileges=yes
ProtectHome=read-only
ProtectSystem=full
RestrictRealtime=true
LimitNOFILE=65535

