Package: gyeeta-postgresdb
Version: 12.2.0
Architecture: amd64
Maintainer: Gyeeta (https://github.com/gyeeta/postgresdb)
Depends: adduser, libc6 (>= 2.27), zlib1g (>= 1:1.2.11), liblzma5 (>= 5.2.2)
Section: utils
Priority: optional
Homepage: https://gyeeta.io
Description: Postgres - Gyeeta's DB Server
  Gyeeta is an Observability product monitoring Services, Processes and Hosts. Postgres is the DB Server Component of Gyeeta. 

